    <div class="create-contact-container">
      <div class="navbar-title">
        <div class="logo"><img src="../assets/img/join_logo.svg" /></div>
        <div class="create-contact-title">
          <h3>Edit contact</h3>
          <div class="border"></div>
        </div>
      </div>
      <div class="contact-img" id="profile-color">
        <h3 id="edit-initial">AM</h3>
      </div>
      <form  onsubmit="editContact(); return false"> 
        <div class="create-contact-data">
          <div class="input-container">
            <input id="edit-contact-name" required type="text" minlength="3" maxlength="18" placeholder="Name" />
            <img src="../assets/img/person (1).svg" />
          </div>
          <div class="error-text-container" id="edit-name-error">
            <span class="error-text">Please enter a name</span>
          </div>
          <div class="input-container">
            <input id="edit-contact-email" required type="email" minlength="5" maxlength="25" placeholder="Email" />
            <img src="../assets/img/mail.svg" />
          </div>
          <div class="error-text-container" id="edit-email-error">
            <span class="error-text">Please enter a email</span>
          </div>
          <div class="input-container">
            <input id="edit-contact-tel" required class="number" type="tel" minlength="3" maxlength="12" pattern="\d{3,12}" placeholder="Phone" />
            <img src="../assets/img/call.svg" />
          </div>
          <div class="error-text-container" id="edit-tel-error">
            <span class="error-text">Please enter a phone number</span>
          </div>
        </div>
        <div class="button-container">
            <button onclick="deleteCurrentContact()" class="delete-button">Delete</button>
            <button onclick="testEditContactsInput()" class="save-button">Save<img src="/assets/img/check.svg"></button>
          </div>
      </form>
      <button onclick="showEditContact('hide')" class="close-contact"><img class="close-contact-svg" src="/assets/img/close.svg"></button>
    </div>