<div class="header-container">
    <div class="header-join-logo-mobile">
        <img src="/assets/img/mobile/header_join_logo.svg" alt="header-join-logo">
    </div>
    <div class="header-txt-container">
        <p>Kanban Project Management Tool</p>
    </div>
    <div id="header-icons" class="header-icons">
        <div id="profileSidebar" class="profile-sidebar">
            <a href="/html/help.html">
                <div class="profile-sidebar-txt-container">
                    <p>Help</p>
                </div>
            </a>
            <a href="/html/legalNotice.html">
                <div class="profile-sidebar-txt-container">
                    <p>Legal Notice</p>
                </div>
            </a>
            <a href="/html/privacyPolicy.html">
                <div class="profile-sidebar-txt-container">
                    <p>Privacy Policy</p>
                </div>
            </a>
            <a onclick="userLogout()">
                <div class="profile-sidebar-txt-container">
                    <p>Log out</p>
                </div>
            </a>
        </div>
        <a class="header-help-icon-mobile" href="/html/help.html"><img class="header-help-icon" src="/assets/img/help_icon.svg" alt="help_icon"></a>
        <img class="header-profile-icon" src="/assets/img/header_profile_icon.svg"
            alt="profile_icon">
        <div onclick="showProfileSidebar()" id="profile-initials" class="profile-initials"></div>
    </div>
</div>