<div class="navbar-container">
    <div class="logo_container">
        <img class="join_logo" src="/assets/img/join_logo.svg" alt="Logo">
    </div>
    <div id="menubar" class="menubar">
        <li id="summary-menu" class="selected-menu">
            <a href="/html/summary.html">
                <div class="menubar-img-container">
                    <img class="summary_icon_mobile" src="/assets/img/summary_unselected_icon.svg" alt="summary_icon">
                </div>
                <p>Summary</p>
            </a>
        </li>
        <li id="addTask-menu" class="selected-menu">
            <a id="add-task-btn-navbar" href="/html/addTask.html">
                <div class="menubar-img-container">
                    <img class="addTask_icon_mobile" src="/assets/img/addTask_unselected_icon.svg" alt="addTask_icon">
                </div>
                <p>Add Task</p>
            </a>
        </li>
        <li id="board-menu" class="selected-menu">
            <a id="board-btn-navbar" href="/html/board.html">
                <div class="menubar-img-container">
                    <img class="board_icon_mobile" src="/assets/img/board_unselected_icon.svg" alt="board_icon">
                </div>
                <p>Board</p>
            </a>
        </li>
        <li id="contacts-menu" class="selected-menu">
            <a href="/html/contacts.html">
                <div class="menubar-img-container">
                    <img class="contacts_icon_mobile" src="/assets/img/contacts_unselected_icon.svg" alt="contacts_icon">
                </div>
                <p>Contacts</p>
            </a>
        </li>
    </div>

    <div id="navbar-privacy-container" class="navbar-privacy-container">
        <a id="privacy-policy-link" href="/html/privacyPolicy.html"><p>Privacy Policy</p></a>
        <a id="legal-notice-link" href="/html/legalNotice.html"><p>Legal notice</p></a>
    </div>
</div>